* {
    margin: 0;
}

p{
    font-size: 3vh;
}
#footer {
    height: 90vh;
}

#footer img {
    width: 100%;
}


#tophoto {
    float: left;
    margin: 6% 5%;
    height: 18vh;
    width : 40%;
    background-color:deepskyblue;
    color: white;
    text-align: center;
}
#tophoto img{
    width : 48px;
    margin-top: 13%;
}

#library {
    float: left;
    margin: 6% 5%;
    height: 18vh;
    width : 40%;
    background-color:deepskyblue;
    color: white;
    text-align: center;
}
#library img{
    width : 48px;
    margin-top: 13%;
}
#weather {
    clear: both;
    float: left;
    margin: 6% 5%;
    height: 18vh;
    width : 40%;
    background-color:deepskyblue;
    color: white;
    text-align: center;
}
#weather img{
    width : 48px;
    margin-top: 13%;
}

#howtouse {
    float: left;
    margin: 6% 5%;
    height: 18vh;
    width : 40%;
    background-color:deepskyblue;
    color: white;
    text-align: center;
}
#howtouse img{
    width : 48px;
    margin-top: 13%;
}