*{
    margin : 0;
}

#photo{
    height : 30vh;
}
#phone{
    height : 30vh;
}
#weather{
    height : 30vh;
}
.image{
    float: left;
    width : 40%;
    height : 60%;
    padding : 6vh 0;
}
.image img{
    width : 100%;
}
.text{
    float: left;
    width : 60%;
    height : 60%;
    padding : 6vh 0;
    font-size: 3vh;
}
